:root {
  --background: hsl(0, 0%, 95%);
  --background-accent: hsl(0, 0%, 87%);
  --border: hsl(0, 0%, 80%);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Important for some older scenarios, good practice */
}

body {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center children horizontally */
  justify-content: center;
  /* Center children vertically */
  min-height: 100vh;
  /* Fallback for older browsers */
  min-height: 100dvh;
  /* Preferred for dynamic viewport height */
  text-align: center;
  /* For inline content within the wrapper */
  background-color: var(--background-accent);
}

* {
  font-family: sans-serif;
}

main {
  max-width: 400px;
  text-align: center;
  padding: 10px;
  border: 3px solid var(--border);
  border-radius: 10px;
  background-color: var(--background);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid var(--border);
  background-color: var(--background);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--background);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--background-accent);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--background);
  border-top: none;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  padding: 5px 0 5px 0;
}

#eggCount * {
  margin: 0.2rem;
}

#recorder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#recorder * {
  margin: 0.2rem;
}

.egg-record-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px grey dashed;
  padding: 0 0.5rem;
}

.plus-minus-button {
  border: 1px black solid;
  color: black;
  font-weight: 700;
  border-radius: 5px;
  background-color: darkgrey;
  padding: 0.5em;
}